span {
    margin-bottom: 1rem;
}

div.my_img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 4rem;
}

div.my_img-container img.my_img {
    height: 100%;
}

div.my_card-body {
    padding: 1rem;
}

div.my_card-body i.my_icon {
    font-size: 2rem;
    margin-right: .5rem;
}

div.my_card-body div.my_price-and-buy {
    display: flex;
    justify-content: start;
    margin-top: 2rem;
}

div.my_card-body div.my_price-and-buy h3 {
    margin-right: 1.5rem;
}